html { background: #0B0D17;
  background-image: url(../assets/crew/background-crew-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

body {
  width: 1440px;
  height: 900px;
  margin: auto;
}


a {
  font-family: 'Barlow Condensed';
font-style: normal;
font-size: 1rem;
line-height: 19px;
letter-spacing: 2.7px;
text-decoration: none;
color: #FFFFFF;


}

span {
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
}

li {
  display: inline-block;
}

h2 {
  font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 115px;
color: #FFFFFF;
margin-top: 71px;
margin-bottom: 0;
}

h3 {
  position: absolute;
  top: 452px;
  left:165.5px;
  right: 742.5px;
  width: 532px;
  height: 64px;
  margin: auto;
  font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 64px;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 27px;
}

h4 {
  width: 273px;
  height: 37px;
  position: absolute;
  top:400px;
  left:165.5px;
  right: 1001.5px;
  margin: auto;
font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 37px;
text-transform: uppercase;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.5;
margin-bottom: 15px;
}


.desktop {
  width: 1440px;
  height: 900px;
  margin: auto;
}


/**************************TOP BAR********************/

.top-bar {
  position: absolute;
width: 1385px;
height: 96px;
left: 50px;
top: 40px;
right: 5px;
margin: auto;
}

/***************** MENU ****************/
.menu {
  position: absolute;
width: 542px;
height: 19px;
left: 123px;
top: 39px;
margin: 0 0;
letter-spacing: 48px;
}

.active {
  border-bottom: 3px solid #FFFFFF;
  padding-bottom: 35px;

}



.line {
  position: absolute;
width: 473px;
height: 1px;
left: 112px;
top: 48px;
margin: 0 0;

background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.25;
border-style: none;
}

.rectangle {
  position: absolute;
width: 830px;
height: 96px;
left: 555px;
top: 0;
margin: 0 0;
background: #ffffff0a;
backdrop-filter: blur(81.5485px);
}

.ball {
  position: absolute;
width: 48px;
height: 48px;
top: 24px;
margin: 0 0;
border-radius: 100%;

background: #FFFFFF;
}


.menu-select:hover {
   border-bottom: 3px solid #FFFFFF;
   padding-bottom: 35px;
   border-color: rgba(255, 255, 255, 0.5);
   transition: 0.2s;
}


/***********************close top-bar**************************/

/*************************PICK*******************/
.pick {
  position: absolute;
width: 382px;
height: 34px;
top: 212px;
right:891.5px;
left: 166.5px;
margin: auto;
letter-spacing: 28px;
display: inline;
}

.p-1 {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.p-2 {
  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;
letter-spacing: 4.725px;
text-transform: uppercase;
color: #FFFFFF;
}

.white-space-fix  {
  margin-right: -6px;
}




/*************CLOSEPICK*******************/

/**********************CREW***********************/


.description {
  width: 444px;
  height: 128px;
  position: absolute;
  top: 543px;
  right:831px;
  left: 165px;
  margin: auto;
  font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
color: #D0D6F9;
}


.crew {
  margin: auto;
  position: absolute;
  top: 294px;
  right: 89.43px;
  left: 735px;
 height: 607px;
}





.menu-crew {
  position: absolute;
  margin: auto;
width: 132px;
height: 15px;
left: 167px;
top: 791px;
right: 1141px;
letter-spacing: 24px;
  white-space: nowrap;
}

.dot {
  margin: 0 0 0 0;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;

}

.active-btn {
  background: #FFFFFF;
}

.crew-btn {
  background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.17;
}

.crew-btn:hover {
  background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.5;
transition: 0.2s;
}
